{% from '_macros/lib.twig' import img %}

{% set image = entry.featuredImage.collect.first %}
{% if image %}
    <div class="mb-8">
        {{ img(image, {
            transform: {width: 1024, height: 300}
        }) }}
    </div>
{% endif %}
