{% set external = external is defined ? external : false %}
{% set openInNewTab = openInNewTab is defined ? openInNewTab : false %}
<a class="overflow-hidden flex group items-center border border-gray-500 px-4 py-1.5  whitespace-nowrap  no-underline  hover:bg-gray-500 hover:text-white focus:bg-gray-500 focus:text-white transition-colors"
   href="{{ url }}" {{ openInNewTab ? 'target="_blank"' }}

>

    {{ caption }}

    {% if external %}
        {{ svg("@appicons/up-right-from-square.svg")|attr({class: 'ml-3 mb-2 size-3 fill-gray-800 group-hover:fill-white transition-colors'}) }}
    {% endif %}
</a>
