<?php
    /* This file is a replacement for the usual .env mechanism, avoiding some issues with thread safety on Windows10/Apache/mod_php
     * Like .env, it must not be committed to git.
     *
     * replace getenv('VAR') with Var::VAR
     * For use in the Craft CP define aliases in config/general.php
     * like  '@SYSTEM_NAME' => Env::SYSTEM_NAME
     */

namespace modules;

class Env
{


    // Constants
    const ENVIRONMENT = 'dev';

    const SECURITY_KEY = 'fdjhkJKHBMNdfsabkjhwe87t6';

    const DB_DSN = 'mysql:host=localhost;dbname=DBNAME';
    const DB_PASSWORD = '';
    const DB_TABLEPREFIX = '';
    const DB_USER = 'root';

    const SYSTEM_NAME = 'Craft Project';
    const DEFAULT_SITE_URL = 'http://localhost:8080';

    const EMAIL_ADDRESS = 'support@project.local';
    const EMAIL_SENDER = 'Support Team';

    const SMTP_HOST = 'smtp.mailtrap.io';
    const SMTP_PORT = '2525';
    const SMTP_USER = 'USER';
    const SMTP_PASSWORD = 'PASSWORD';
}
