{% set links = entry.links.all %}
{% if links %}

    <div class="space-y-4 md:flex md:flex-wrap md:space-x-4 md:space-y-0">
        {% for link in links %}
            {{ link.render() }}
        {% endfor %}
    </div>    
{% endif %}
