h1 {
  @apply text-5xl tracking-wide leading-tight font-serif;
}


h2, h3, h4, h5, h6,
{
  @apply mb-4 font-serif;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol[type=I] {
  list-style-type: upper-not-italic;
}

ol[type=a] {
  list-style-type: lower-alpha;
}

p img {
  @apply block mx-auto;
}

a:hover {
  @apply underline text-gray-500;
}
