<?php

namespace config;

class Env extends \modules\Env
{
    // dev/staging/production
    const ENVIRONMENT = 'dev';

    const APP_ID = 'Craft_$HANDLE$';

    // https://randomkeygen.com/
    const SECURITY_KEY = '$SECURITY_KEY$';

    const DB_DRIVER = 'mysql';
    const DB_SERVER = 'localhost';
    const DB_PORT = '3306';

    const DB_DATABASE = '$HANDLE$';
    const DB_SCHEMA = ''; // Postgres only
    const DB_TABLEPREFIX = '';

    const DB_CHARSET = 'utf8';
    const DB_COLLATION = 'utf8_unicode_ci';

    //Database credentials
    const DB_USER = 'root';
    const DB_PASSWORD = '';

    // Logging of DB activity ?
    const DB_ENABLE_LOGGING = false;
    const DB_ENABLE_PROFILING = false;

    // http://localhost:8080 can be used for embeded server: php craft serve
    const DEFAULT_SITE_URL = 'http://$HANDLE$.local';

    const RUN_QUEUE_AUTOMATICALLY = true;

    // Available in Control Panel as environment variables, e.g. $SYSTEM_NAME
    const CP_VARIABLES = [
        'SYSTEM_NAME' => '$UC_HANDLE$',
        'SYSTEM_TIMEZONE' => 'Europe/Berlin',

        'EMAIL_ADDRESS' => 'support@$HANDLE$.local',
        'EMAIL_SENDER' => 'Support Team',

        'IMAGES_FS' => 'images_local',
        'TEMP_IMAGES_FS' => 'tempimages_local',
        'USERPHOTOS_FS' => 'userPhotos_local',
        'IMAGE_TRANSFORM_FS' => 'imagesTransforms_local',

        'SMTP_HOST' => '',
        'SMTP_PORT' => '2525',
        'SMTP_AUTHENTICATION' => '1',
        'SMTP_USER' => '',
        'SMTP_PASSWORD' => '',
        'SMTP_ENCRYPTION_METHOD' => 'tls',

        'GOOGLE_API_KEY' => '',
    ];



}
