<?php
    /* This file is a replacement for the usual .env mechanism, avoiding some issues with thread safety on Windows10/Apache/mod_php
     * Like .env, it must not be committed to git.
     *
     * replace getenv('VAR') with Env::VAR
     * For use in the Craft CP define aliases in config/general.php
     * like  '@SYSTEM_NAME' => Env::SYSTEM_NAME
     */

namespace config;

class Env
{

    // Constants
        const ENVIRONMENT = 'dev';

        const APP_ID = '';
        const SECURITY_KEY = '';

        const DB_DRIVER = 'mysql';
        const DB_SERVER = 'localhost';
        const DB_PORT = '3306';
        const DB_DATABASE = '';
        const DB_SCHEMA = ''; // Postgres only
        const DB_TABLEPREFIX = '';

        const DB_USER = 'root';
        const DB_PASSWORD = '';

        const SYSTEM_NAME = 'Craft Project';
        const BASE_URL = 'http://localhost:8080';

        const EMAIL_ADDRESS = 'support@project.local';
        const EMAIL_SENDER = 'Support Team';

        const SMTP_HOST = '';
        const SMTP_PASSWORD = '';
        const SMTP_PORT = '';
        const SMTP_USER = '';
}
