<?php

namespace config;

class Env extends \modules\Env
{
    // dev/staging/production
    const ENVIRONMENT = 'dev';

    // Unique id to separate applications for caching etc.
    const APP_ID = 'Craft_$HANDLE$';

    // https://randomkeygen.com/
    const SECURITY_KEY = '$SECURITY_KEY$';

    // http://localhost:8080 can be used for embeded server: php craft serve
    const DEFAULT_SITE_URL = 'http://$HANDLE$.local';

    // Whether Craft should run pending queue jobs automatically when someone visits the control panel.
    // If disabled, an alternate queue worker must be set up separately
    const RUN_QUEUE_AUTOMATICALLY = false;

    // Available in Control Panel as environment variables, e.g. $SYSTEM_NAME
    // Craft config setting can be overridden here using CRAFT_xxx (general config) or CRAFT_DB_xxx (database config)
    const CP_VARIABLES = [
        'SYSTEM_NAME' => '$UC_HANDLE$',
        'SYSTEM_TIMEZONE' => 'Europe/Berlin',

        // Database connection details
        'CRAFT_DB_DRIVER' => 'mysql',
        'CRAFT_DB_SERVER' => 'localhost',
        'CRAFT_DB_PORT' => '3306',

        'CRAFT_DB_DATABASE' => '$HANDLE$',
        'CRAFT_DB_SCHEMA' => '', // Postgres only
        'CRAFT_DB_TABLEPREFIX' => '',

        'CRAFT_DB_CHARSET' => 'utf8',
        'CRAFT_DB_COLLATION' => 'utf8_unicode_ci',

        //Database credentials
        'CRAFT_DB_USER' => 'root',
        'CRAFT_DB_PASSWORD' => '',


        'EMAIL_ADDRESS' => 'support@$HANDLE$.local',
        'EMAIL_SENDER' => 'Support Team',

        'IMAGES_FS' => 'images_local',
        'TEMP_IMAGES_FS' => 'tempimages_local',
        'USERPHOTOS_FS' => 'userPhotos_local',
        'IMAGE_TRANSFORM_FS' => 'imagesTransforms_local',

        'SMTP_HOST' => '',
        'SMTP_PORT' => '2525',
        'SMTP_AUTHENTICATION' => '1',
        'SMTP_USER' => '',
        'SMTP_PASSWORD' => '',
        'SMTP_ENCRYPTION_METHOD' => 'tls'
    ];



}
